language: php

php:
    - 5.6
    - 7
    - hhvm

cache:
    directories:
        - $HOME/.composer/cache

install:
    - composer install

script:
    - vendor/bin/php-cs-fixer fix --dry-run --diff
    - vendor/bin/phpunit --coverage-text

sudo: false